/hku-ccst9017-assignment-*/*
!/hku-ccst9017-assignment-*/*.pdf
!/hku-ccst9017-assignment-*/*.tex
!/hku-ccst9017-assignment-*/img/
!/hku-ccst9017-assignment-*/src/
!*.pdf
!*.tex
!README.md
!LICENSE
!/img/